ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

ul > li {
    background-color: black;
    color: white;
    display: inline;
    float: right;
    border-left: 1px solid #bbb;
}

ul > p{
    display: inline;
    float: left;
}