ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: sticky;
}

ul li {
    display: inline;
    border-left: 1px solid #bbb;
}

li a{
    float: right;
    color: #666;
    background-color: #036;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}